<% include partials/header %>

<!-- This will serve as my main page -->
<!-- This site is bascially going to be a static site. A lot of data is going to be pulled from faker.js. This site will serve as an alpha -->
<!--<div class="navbar">-->
    
<!--    <div class="home">-->
<!--        <a>Home</a>-->
<!--    </div>-->
    
<!--    <div class="rightbar">-->
<!--        <a>Settings</a>-->
<!--        <a>Login</a>-->
<!--    </div>-->
    
    
<!--</div>-->


<!--<div class="container">-->
    
<!--    <div class="vertnavbar">-->
        
<!--        <ul class="vertnavbarfields">-->
            
<!--            <li>-->
<!--                <a class="vertfields activate">Event Bubbles</a>-->
<!--            </li>-->
            
<!--            <li class="friends">-->
<!--                <a class="vertfields">Friends</a>-->
<!--                <ul class="subcontent">-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                    <li><a>Friend 1</a></li>-->
<!--                </ul>-->
<!--            </li>-->
            
<!--            <li>-->
<!--                <a class="vertfields">Messages</a>-->
<!--            </li>-->
<!--        </ul> -->
<!--    </div> <!-- vertnavbar -->
    
    
    
    <div class="jumbotron">
        
        <div class="jumbocontent">
            <h2>Event Bubbles</h2>
            <h4>They create them, you join them!</h4>
        </div>
        <div class="iconsTron">
            <i class="fa fa-plus-circle plusbutton" aria-hidden="true"></i>
        </div>
        
    </div>
    
    
    
  
    
    
    
    
    
    
    

    <div class="Events"> <!-- Event bubbles will be placed in here -->
        
        
        <div class="eventbubble">
            
            <img class="eventimage" src="https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89da2618e73e395491d2c33022d0564d&auto=format&fit=crop&w=1350&q=80">
            <!--icons will be placed here-->
            
            <div class="eventicons">
                
                <i class="fa fa-users users" aria-hidden="true"></i>
                <i class="fa fa-comments iconright" aria-hidden="true"></i>
                <i class="fa fa-video-camera iconright" aria-hidden="true"></i>
                
            </div>
            
            <p class="eventtitle">Sample: Going to Japan!</p>
            
            <p class="eventdate">Oct 15, 2018</p>
            
        </div>
        
        
        <!-- Write a code here to loop through each event that is stored within your database -->
        <% events.forEach(function(event){  %>
        
        
            <div class="eventbubble">
                
                <!-- placed a link div outside of our image tag-->
                <a href="/events/<%= event._id %>">
                    <img class="eventimage" src="<%= event.eventImage %>">
                </a>
                
                
                <!--icons will be placed here-->
                
                <div class="eventicons">
                    
                    <i class="fa fa-users users" aria-hidden="true"></i>
                    <i class="fa fa-comments iconright" aria-hidden="true"></i>
                    <i class="fa fa-video-camera iconright" aria-hidden="true"></i>
                    
                </div>
                
                <p class="eventtitle"> <%= event.eventName %> </p>
                
                <p class="eventdate"> <%= event.eventDate %></p>
               
               
               <!--
                Display the remove and edit buttons here, only if the event belongs to the current user that's logged in
                
                event.createdby will return to us the id of the user that created the event
                
                Create a code that checks if the current user's id that is logged in matches with the id of the user that created the event
                
               -->
               
              
              
                
                <% if(event.createdby.equals(currentUser._id) === true ){  %>
                    <!-- if the logged in user's id matches with the user id who created the event, create a delete and edit button here -->
                    
                    <!-- create a form and a button with to make a DELETE request -->
                    
                    <form action="/events/<%= event._id %>/delete?_method=DELETE" method="POST"><button class="delete-btn">DELETE</button></form>
                     <!-- will delete user created event -->
                    <button class="edit-btn"><a href="/events/<%= event._id %>/edit">EDIT</a></button> <!-- can edit user created event -->
                    
                    <!-- replace ":id" with the id of the event -->
                <% } else {%>
                    
                    <!-- Do nothing here -->
                    
                <% } %>
                
            </div>
            

        <% }); %>
        
        
        
        
        
        
        
        
        
        <!-- create dynamic events below, our css file should automatically style each event for us -->
        <!--
            I think I need to create a for loop here. 
        
        -->
        
        
        <!--
        
        //Only initiate this function when send is greater than o, else don't do anything
         for (var i = 0; i <= send; i++) {
         
         
            
         
         
         }
        
        
        
        
        -->
        
        
    </div> <!-- Events -->
    
    
</div> <!-- container -->

<script type="text/javascript" src="/script.js"></script>
<!--connects this .ejs file to our javascript file -->



<% include partials/footer %>